<!doctype html>
<html>
<head>
    <title>Publisher - Home</title>
    <link
            href="css/angular-bootstrap.css"
            rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="clientapp" ng-cloak class="ng-cloak" ng-controller="home as home">
<nav class="navbar navbar-default">
    <div class="container">
        <p>
            <a class="navbar-brand" href='/'><b>Home</b></a>
        </p>
        <p class="navbar-text navbar-right" ng-show="home.authenticated">
            <a class="btn btn-primary pull-right" ng-show="home.authenticated" href=""
               ng-click="home.logout()"><strong>logout from </strong>{{home.user}}</a>
        </p>
    </div>
</nav>
<div class="container content-holder" >
    <div class="alert alert-success" ng-show="home.showSuccessMsg">{{home.successMsg}}</div>
    <div class="alert alert-danger" ng-show="home.showErrorMsg">{{home.errorMsg}}</div>
    <p>
        <button ng-click="home.registerNewPublication()" class="btn btn-primary btn-xs">Register a Publication</button>
        <button ng-click="home.enquireWatermarkCompletenessByTicketNumber()"
                class="btn btn-primary btn-xs">Enquire by Ticket Number</button>
        <button ng-click="home.generateRandom()" class="btn btn-primary btn-xs">Generate Random Data</button>
    </p>
    <p>
        <strong>You can select what to exclude from the grid below:</strong>&nbsp;&nbsp;
        <input id="excludeWatermarked" type="checkbox" ng-model="home.getPubsRqBody.excludeWatermarked"
               class="ng-valid ng-dirty" ng-change="home.fillData()">
        <label for="excludeWatermarked" data-toggle="tooltip" data-placement="top"
               title="Check this option if you don't want to display publications that have already been watermarked">
            No watermarked</label>
        <input id="excludeWatermarkInProgress" type="checkbox" ng-model="home.getPubsRqBody.excludeWatermarkInProgress"
               class="ng-valid ng-dirty" ng-change="home.fillData()">
        <label for="excludeWatermarkInProgress" data-toggle="tooltip" data-placement="top"
               title="Check this option if you don't want to display publications that is being watermarked right now">
            No watermarking</label>
        <input id="excludeNonWatermarked" type="checkbox" ng-model="home.getPubsRqBody.excludeNonWatermarked"
               class="ng-valid ng-dirty" ng-change="home.fillData()">
        <label for="excludeNonWatermarked" data-toggle="tooltip" data-placement="top"
               title="Check this option if you don't want to display publications that have never have been attempted to watermark">
            No non-watermarked?</label>
    </p>
    <div ng-hide="home.pubs.length == 0" class="container">
        <p>
            <button type="button" class="btn btn-default btn-sm" ng-click="home.fillData()">
                Refresh
            </button>&nbsp;<label ng-show="home.refreshing">Refreshing...</label>
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Watermark Status</th>
                <th>Watermark Ticket ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Content</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pub in home.pubs">
                <td>
                    <span ng-show="pub.topic">{{pub.topic.label}}</span>
                    <span ng-hide="pub.topic">N/A</span>
                </td>
                <td>
                    <span ng-show="pub.watermarkTicket.failed">
                        <p class="text-error">Failed&nbsp;
                            <button type="submit" class="btn btn-primary btn-xs"
                                    ng-click="home.waterMarkPublication(pub)">Retry</button>
                        </p>
                    </span>
                    <span ng-show="!pub.watermarkTicket.started &&
                    !pub.watermarkTicket.completed && !pub.watermarkTicket.failed">
                        <p class="text-warning">Not Watermarked&nbsp;
                            <button type="submit" class="btn btn-primary btn-xs"
                                    ng-click="home.waterMarkPublication(pub)">Watermark</button>
                        </p>
                    </span>
                    <span ng-show="pub.watermarkTicket.started && !pub.watermarkTicket.completed && !pub.watermarkTicket.failed">
                        <p class="text-info">
                            In Progress
                        </p>
                    </span>
                    <span ng-show="pub.watermarkTicket.completed">
                        <p class="text-success">Completed</p>
                    </span>
                </td>
                <td>{{pub.watermarkTicket.id}}</td>
                <td>{{pub.title}}</td>
                <td>{{pub.author}}</td>
                <td>{{pub.content}}</td>
                <td>{{pub.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="home.pubs.length == 0" class="alert alert-info">
        Looks like you don't have any registered publications fitting the criteria above.
        (Or possibly at all. Click "Register a Publication" to add some.)
    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/index-page.js" type="text/javascript"></script>
<script src="js/modal-controllers/enquire-watermark.js" type="text/javascript"></script>
<script src="js/modal-controllers/register-new-publication.js" type="text/javascript"></script>
<script src="js/modal-controllers/watermark-confirm.js" type="text/javascript"></script>
</body>
</html>