<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Query Watermark Status</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label>Watermark Ticket ID: </label>
        <input type="text" ng-model="$ctrl.ticketId">
        <div ng-show="$ctrl.ticket">
            <span ng-show="!$ctrl.ticket.started && !$ctrl.ticket.completed">
            <p class="text-warning">Not Watermarked</p>
        </span>
            <span ng-show="$ctrl.ticket.started && !$ctrl.ticket.completed">
            <p class="text-info">In Progress</p>
        </span>
            <span ng-show="$ctrl.ticket.started && $ctrl.ticket.completed">
            <p class="text-success">Completed</p>
        </span>
        </div>
    </div>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.enquire()">Enquire</button>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
</div>