<div class="modal-header">
    <h3 class="modal-title" id="modal-title">New publication</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <div class="btn-group" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                <label ng-hide="$ctrl.publicationDTO.name">Choose a Publication Category</label>
                <label ng-show="$ctrl.publicationDTO.name">{{$ctrl.publicationDTO.name}}</label>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="category in $ctrl.publicationTypes">
                    <a href="#" ng-click="$ctrl.changeCategory(category)">{{category}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="$ctrl.publicationDTO.name">
        <div class="form-group" ng-show="$ctrl.publicationDTO.name == 'Book'">
            <div class="btn-group" uib-dropdown>
                <button id="single-button2" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    <label ng-hide="$ctrl.publicationDTO.topic">Choose a Publication Category</label>
                    <label ng-show="$ctrl.publicationDTO.topic">{{$ctrl.publicationDTO.topic.label}}</label>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
                    <li role="menuitem" ng-repeat="topic in $ctrl.topics">
                        <a href="#" ng-click="$ctrl.changeCategory(topic)">{{topic.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label>Title: </label>
            <input type="text" ng-model="$ctrl.publicationDTO.title">
        </div>
        <div class="form-group">
            <label>Author: </label>
            <input type="text" ng-model="$ctrl.publicationDTO.author">
        </div>
        <div class="form-group">
            <label>Content: </label>
            <input type="text" ng-model="$ctrl.publicationDTO.content">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>