<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Watermark</h3>
</div>
<div class="modal-body" id="modal-body">
    Are you sure you want to add a watermark to: {{$ctrl.publication.title}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>