<!doctype html>
<html>
<head>
    <title>Watermarker - Welcome</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="gateway" ng-controller="navigation as nav" ng-cloak
      class="ng-cloak">
<nav class="navbar navbar-default">
    <div class="container">
        <a class="brand" href='#/'>Home</a>
        <div class="navbar-right">
            <a class="btn btn-primary" ng-show="nav.authenticated" href=""
                ng-click="nav.logout()">logout</a>
            <p ng-show="nav.authenticated">
                Signed in as <a href="#/" class="navbar-link">{{nav.user}}</a>
            </p>
        </div>
    </div>
    </div>
</nav>
<div class="alert alert-danger" ng-show="nav.error">{{nav.errMsg}}</div>
<div class="alert alert-success" ng-show="nav.registerSuccess">Registration
    successful. You may sign in now.</div>
<div class="container" ng-show="!nav.authenticated">
    <div class="alert alert-info" ng-show="!nav.error">Welcome to
    Watermarker. Please login or register below. Use the checkbox to alternate between login and register modes</div>
    <div class="form-group">
        <label class="checkbox-inline" data-toggle="tooltip" data-placement="right"
               title="Use this checkbox to alternate between login and register modes">
            <input type="checkbox" name="registerMode" id="registerMode" ng-model="nav.registerMode"> Register
        </label>
    </div>
    <form role="form" ng-submit="nav.loginOrRegister()">
        <div class="form-group">
            <label for="username">Email:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="nav.credentials.username" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="nav.credentials.password" />
        </div>
        <div class="form-group" ng-show="nav.registerMode">
            <label for="matchingPassword">Matching Password:</label> <input type="password"
                                                           class="form-control" id="matchingPassword" name="matchingPassword"
                                                           ng-model="nav.credentials.matchingPassword" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container" ng-show="nav.authenticated" ng-repeat="url in nav.landingUrls">
    <a class="btn btn-primary" href="url">{{url}}</a>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/gateway.js" type="text/javascript"></script>
</body>
</html>